@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Micro+5&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Minecrafter", sans-serif;
  background-color: #3DAE2B;
}

li {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  border: none;
  cursor: pointer;
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
}

.container {
  max-width: 1390px;
  margin: 0 auto;
}

header .container .header-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 63px 0px 67px;
}
header .container .header-content nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 58px;
}
header .container .header-content nav ul li {
  font-family: "Noto Sans", sans-serif;
  font-weight: 400;
  font-size: 19px;
  text-align: center;
  color: #fff;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
header .container .header-content nav ul li:hover {
  text-decoration: underline;
}
header .container .header-content button {
  font-family: "Noto Sans", sans-serif;
  font-weight: 700;
  font-size: 23px;
  line-height: 136%;
  text-align: center;
  color: #fff;
  padding: 14px;
  -webkit-box-shadow: 3px 4px 0 0 rgba(0, 0, 0, 0.25);
          box-shadow: 3px 4px 0 0 rgba(0, 0, 0, 0.25);
  background: #ff9b26;
  border: 2px solid #061903;
}
header .container .header-content button:hover {
  background-color: #9700C6;
}
header .container .header-text h1 {
  font-weight: 400;
  font-size: 159px;
  text-align: center;
  color: #fff;
  text-shadow: 10px 10px 0 0 rgba(0, 0, 0, 0.25);
  margin-bottom: 28px;
}
header .container .header-text p {
  font-weight: 400;
  font-size: 31px;
  text-align: center;
  color: #fff;
  max-width: 626px;
  margin: 0 auto;
  margin-bottom: 40px;
}
header .container .header-text .link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
header .container .header-text .link button {
  font-family: "Noto Sans", sans-serif;
  font-weight: 700;
  font-size: 39px;
  line-height: 136%;
  text-align: center;
  color: #fff;
  padding: 30px 60px;
  -webkit-box-shadow: 6px 6px 0 0 rgba(0, 0, 0, 0.13);
          box-shadow: 6px 6px 0 0 rgba(0, 0, 0, 0.13);
  background: #ff9b26;
  margin-bottom: 81px;
  border-radius: 2px;
}
header .container .header-text .link button:hover {
  background-color: #9700C6;
}
header .container .header-text .link .play-vedio {
  -webkit-transform: translate(-200px, -95px);
      -ms-transform: translate(-200px, -95px);
          transform: translate(-200px, -95px);
}

.explore-minecraft {
  background: #fffbdd;
  padding-top: 27px;
  border-radius: 166px 166px 0 0;
  padding-left: 44px;
  padding-right: 44px;
}
.explore-minecraft .container .play-now {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 29px 32px;
  gap: 43px;
  background-color: #3DAE2B;
  border-radius: 166px;
  margin-bottom: 110px;
}
.explore-minecraft .container .play-now p {
  font-family: "Micro 5", sans-serif;
  font-weight: 400;
  font-size: 63px;
  text-transform: uppercase;
  color: #000;
}
.explore-minecraft .container .explore-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 64px;
}
.explore-minecraft .container .explore-text h2 {
  font-size: 64px;
  font-weight: 400;
  line-height: 64px;
  text-align: center;
  max-width: 733px;
}
.explore-minecraft .container .explore-text .sword {
  -webkit-transform: translate(-130px, 45px);
      -ms-transform: translate(-130px, 45px);
          transform: translate(-130px, 45px);
}
.explore-minecraft .container .cards1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 48px;
}
.explore-minecraft .container .cards1 .card-mountain {
  background-image: url(../img/mountain.png);
  max-width: 646px;
  min-height: 646px;
  width: 100%;
  padding: 514px 24px 24px;
  background-repeat: no-repeat;
}
.explore-minecraft .container .cards1 .card-mountain .card-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  background-color: #fff;
  border-radius: 166px;
  padding: 38px 55px;
  -webkit-box-shadow: 4px 4px 0 0 rgba(0, 0, 0, 0.4);
          box-shadow: 4px 4px 0 0 rgba(0, 0, 0, 0.4);
  background: #3dae2b;
  cursor: pointer;
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
}
.explore-minecraft .container .cards1 .card-mountain .card-text p {
  font-family: "Inter", sans-serif;
  font-weight: 800;
  font-size: 23px;
  text-transform: uppercase;
  color: #000;
}
.explore-minecraft .container .cards1 .card-mountain .card-text:hover {
  background: #fffbdd;
}
.explore-minecraft .container .cards1 .card-trees {
  background-image: url(../img/purple-trees.png);
  max-width: 646px;
  min-height: 646px;
  width: 100%;
  padding: 514px 24px 24px;
  background-repeat: no-repeat;
}
.explore-minecraft .container .cards1 .card-trees .card-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  background-color: #fff;
  border-radius: 166px;
  padding: 40px 140px;
  -webkit-box-shadow: 4px 4px 0 0 rgba(0, 0, 0, 0.4);
          box-shadow: 4px 4px 0 0 rgba(0, 0, 0, 0.4);
  background: #fffbdd;
  cursor: pointer;
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
}
.explore-minecraft .container .cards1 .card-trees .card-text p {
  font-family: "Inter", sans-serif;
  font-weight: 800;
  font-size: 23px;
  letter-spacing: 0em;
  color: #000;
}
.explore-minecraft .container .cards1 .card-trees .card-text:hover {
  background: #3dae2b;
}
.explore-minecraft .container .cards-natures {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 110px;
}
.explore-minecraft .container .cards-natures .card-tree {
  background-image: url(../img/trees.png);
  max-width: 646px;
  min-height: 646px;
  width: 100%;
  padding: 514px 24px 24px;
  background-repeat: no-repeat;
}
.explore-minecraft .container .cards-natures .card-tree .card-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  background-color: #fff;
  border-radius: 166px;
  padding: 40px 160px;
  -webkit-box-shadow: 4px 4px 0 0 rgba(0, 0, 0, 0.4);
          box-shadow: 4px 4px 0 0 rgba(0, 0, 0, 0.4);
  background: #fffbdd;
  cursor: pointer;
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
}
.explore-minecraft .container .cards-natures .card-tree .card-text p {
  font-family: "Inter", sans-serif;
  font-weight: 800;
  font-size: 23px;
  letter-spacing: 0em;
  color: #000;
}
.explore-minecraft .container .cards-natures .card-tree .card-text:hover {
  background: #3dae2b;
}
.explore-minecraft .container .cards-natures .card-flowers {
  background-image: url(../img/flowers.png);
  max-width: 646px;
  min-height: 646px;
  width: 100%;
  padding: 514px 24px 24px;
  background-repeat: no-repeat;
}
.explore-minecraft .container .cards-natures .card-flowers .card-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  background-color: #fff;
  border-radius: 166px;
  padding: 40px 140px;
  -webkit-box-shadow: 4px 4px 0 0 rgba(0, 0, 0, 0.4);
          box-shadow: 4px 4px 0 0 rgba(0, 0, 0, 0.4);
  background: #fffbdd;
  cursor: pointer;
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
}
.explore-minecraft .container .cards-natures .card-flowers .card-text p {
  font-family: "Inter", sans-serif;
  font-weight: 800;
  font-size: 23px;
  letter-spacing: 0em;
  color: #000;
}
.explore-minecraft .container .cards-natures .card-flowers .card-text:hover {
  background: #3dae2b;
}
.explore-minecraft .container .our-latest-bg {
  margin-bottom: 59px;
}
.explore-minecraft .container .our-latest-bg .our-latest-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 81px;
}
.explore-minecraft .container .our-latest-bg .our-latest-text h4 {
  font-weight: 400;
  font-size: 64px;
  text-align: center;
  color: #000;
  max-width: 673px;
}
.explore-minecraft .container .our-latest-bg .minecraft-bg {
  background-image: url(../img/tricky-trianls-bg.png);
  background-repeat: no-repeat;
  border-radius: 60px;
  min-height: 293px;
  padding-top: 99px;
  padding-bottom: 66px;
  padding-left: 40px;
  background-position: center;
  margin-bottom: 34px;
}
.explore-minecraft .container .our-latest-bg .minecraft-bg p {
  padding-left: 40px;
}
.explore-minecraft .container .our-latest-bg .minecraft-bg p .update {
  font-weight: 400;
  font-size: 64px;
  color: #b2a7a4;
}
.explore-minecraft .container .our-latest-bg .minecraft-bg p .update1 {
  font-weight: 400;
  font-size: 64px;
  color: #b2a7a4;
}
.explore-minecraft .container .our-latest-bg .minecraft-bg p .one {
  color: #ca6443;
  font-weight: 400;
  font-size: 64px;
}
.explore-minecraft .container .our-latest-bg .minecraft-bg p .twenty-one {
  font-weight: 400;
  font-size: 64px;
  color: #4b9f85;
}
.explore-minecraft .container .our-latest-bg .minecraft-bg p .tricky {
  font-weight: 400;
  font-size: 64px;
  color: #ca6443;
}
.explore-minecraft .container .our-latest-bg .minecraft-bg p .trails {
  color: #4b9f85;
  font-weight: 400;
  font-size: 64px;
}
.explore-minecraft .container .our-latest-bg .minecraft-bg2 {
  background-image: url(../img/trails-bg.png);
  background-repeat: no-repeat;
  border-radius: 60px;
  min-height: 293px;
  padding: 13px 363px 0;
  background-position: center;
  margin-bottom: 34px;
}
.explore-minecraft .container .our-latest-bg .minecraft-bg2 p {
  max-width: 890px;
  text-align: center;
  color: #b2a7a4;
}
.explore-minecraft .container .our-latest-bg .minecraft-bg2 p .update {
  font-weight: 400;
  font-size: 64px;
  color: #b2a7a4;
}
.explore-minecraft .container .our-latest-bg .minecraft-bg2 p .update1 {
  font-weight: 400;
  font-size: 64px;
  color: #b2a7a4;
}
.explore-minecraft .container .our-latest-bg .minecraft-bg2 p .one {
  background: -webkit-gradient(linear, left top, right top, from(#964f71), color-stop(10%, #b15d65), color-stop(30%, #cd6b58), color-stop(51.96%, #fff69b), color-stop(70%, #b15d65), color-stop(90%, #cd6b58), to(#964f71));
  background: linear-gradient(90deg, #964f71 0%, #b15d65 10%, #cd6b58 30%, #fff69b 51.96%, #b15d65 70%, #cd6b58 90%, #964f71 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 400;
  font-size: 64px;
}
.explore-minecraft .container .our-latest-bg .minecraft-bg2 p .trails {
  background: -webkit-gradient(linear, left top, right top, from(#964f71), color-stop(10%, #b15d65), color-stop(30%, #cd6b58), color-stop(51.96%, #fff69b), color-stop(70%, #b15d65), color-stop(90%, #cd6b58), to(#964f71));
  background: linear-gradient(90deg, #964f71 0%, #b15d65 10%, #cd6b58 30%, #fff69b 51.96%, #b15d65 70%, #cd6b58 90%, #964f71 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 400;
  font-size: 64px;
}
.explore-minecraft .container .our-latest-bg .minecraft-bg3 {
  background-image: url(../img/minecraft-bg.png);
  background-repeat: no-repeat;
  border-radius: 60px;
  padding-top: 99px;
  padding-bottom: 66px;
  padding-left: 40px;
  background-position: center;
  margin-bottom: 34px;
  margin-bottom: 48px;
}
.explore-minecraft .container .our-latest-bg .minecraft-bg3 p {
  font-weight: 400;
  font-size: 64px;
  padding-left: 40px;
}
.explore-minecraft .container .our-latest-bg .minecraft-bg3 p .update {
  color: #b2a7a4;
}
.explore-minecraft .container .our-latest-bg .minecraft-bg3 p .update1 {
  color: #b2a7a4;
}
.explore-minecraft .container .our-latest-bg .minecraft-bg3 p .one {
  color: #048d94;
}
.explore-minecraft .container .our-latest-bg .minecraft-bg3 p .one1 {
  color: #5f9e56;
}
.explore-minecraft .container .our-latest-bg .minecraft-bg3 p .nine {
  color: #057b84;
}
.explore-minecraft .container .our-latest-bg .minecraft-bg3 p .the {
  color: #057b84;
}
.explore-minecraft .container .our-latest-bg .minecraft-bg3 p .wild {
  color: #62a756;
}
.explore-minecraft .container .our-latest-bg .minecraft-bg4 {
  background-image: url(../img/nether-bg.png);
  background-repeat: no-repeat;
  border-radius: 60px;
  min-height: 293px;
  padding: 157px 0 40px;
  background-position: center;
}
.explore-minecraft .container .our-latest-bg .minecraft-bg4 p {
  max-width: 890px;
  text-align: center;
  color: #b2a7a4;
  margin: 0 auto;
}
.explore-minecraft .container .our-latest-bg .minecraft-bg4 p .update {
  color: #b2a7a4;
  font-weight: 400;
  font-size: 64px;
}
.explore-minecraft .container .our-latest-bg .minecraft-bg4 p .update1 {
  color: #b2a7a4;
  font-weight: 400;
  font-size: 64px;
}
.explore-minecraft .container .our-latest-bg .minecraft-bg4 p .one {
  color: #d83fe1;
  font-weight: 400;
  font-size: 64px;
}
.explore-minecraft .container .our-latest-bg .minecraft-bg4 p .sixteen {
  color: #20c3c2;
  font-weight: 400;
  font-size: 64px;
}
.explore-minecraft .container .our-latest-bg .minecraft-bg4 p .nether {
  color: #da46d9;
  font-weight: 400;
  font-size: 64px;
}

footer {
  border-radius: 55px 55px 0 0;
  background: #3dae2b;
  -webkit-box-shadow: 10px 10px 0 0 rgba(0, 0, 0, 0.25);
          box-shadow: 10px 10px 0 0 rgba(0, 0, 0, 0.25);
}
footer .container .footer-bg {
  background-image: url(../img/natura-bg.png);
  background-repeat: no-repeat;
  background-position: center;
  height: 481px;
  padding-left: 379px;
  padding-top: 169px;
  margin-bottom: 88px;
}
footer .container .footer-bg h5 {
  font-weight: 400;
  font-size: 96px;
  text-align: center;
  color: #abaaa2;
  max-width: 563px;
}
footer .container .footer-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 46px;
}
footer .container .footer-content nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 58px;
}
footer .container .footer-content nav ul li {
  font-family: "Noto Sans", sans-serif;
  font-weight: 400;
  font-size: 19px;
  text-align: center;
  color: #fff;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
footer .container .footer-content nav ul li:hover {
  text-decoration: underline;
}
footer .container .footer-content button {
  font-family: "Noto Sans", sans-serif;
  font-weight: 700;
  font-size: 23px;
  line-height: 136%;
  text-align: center;
  color: #fff;
  padding: 14px;
  -webkit-box-shadow: 3px 4px 0 0 rgba(0, 0, 0, 0.25);
          box-shadow: 3px 4px 0 0 rgba(0, 0, 0, 0.25);
  background: #ff9b26;
  border: 2px solid #061903;
}
footer .container .footer-content button:hover {
  background-color: #9700C6;
}