
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Micro+5&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
// .className{
//     @font-face {
//         font-family: 'minecrafter Medium';
//         font-style: normal;
//         font-weight: normal;
//         src: local('minecrafter Medium'),
//          url('Minecrafter-MA3Dw.woff') format('woff');
//         }
// }
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: "Minecrafter", sans-serif;
    background-color: #3DAE2B;
    // font-family: 'minecrafter Medium' , sans-serif;
}
li{
    list-style: none;
}
a{
    color:inherit;
    text-decoration: none;
}
button{
    border: none;
    cursor: pointer;
    transition: 0.4s ease;
}
.container{
    max-width: 1390px;
    // padding: 0 44px;
    margin: 0 auto;
}
header{
    .container{
        .header-content{
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 63px 0px 67px;
            nav{
                ul{
                    display: flex;
                    align-items: center;
                    gap: 58px;
                    li{
                        font-family: "Noto Sans", sans-serif;
                        font-weight: 400;
                        font-size: 19px;
                        text-align: center;
                        color: #fff;
                        transition: 0.4s;
                        &:hover{
                            text-decoration: underline;
                        }
                    }
                }
            }
            button{
                font-family: "Noto Sans", sans-serif;
                font-weight: 700;
                font-size: 23px;
                line-height: 136%;
                text-align: center;
                color: #fff;
                padding: 14px;
                box-shadow: 3px 4px 0 0 rgba(0, 0, 0, 0.25);
                background: #ff9b26;
                border: 2.00px solid #061903;
                &:hover{
                    background-color: #9700C6;
                }
            }
        }
        .header-text{
            h1{
                font-weight: 400;
                font-size: 159px;
                text-align: center;
                color: #fff;
                text-shadow: 10px 10px 0 0 rgba(0, 0, 0, 0.25);
                margin-bottom: 28px;
            }
            p{
                font-weight: 400;
                font-size: 31px;
                text-align: center;
                color: #fff;
                max-width: 626px;
                margin: 0 auto;
                margin-bottom: 40px;
            }
            .link{
                display: flex;
                justify-content: center;
                align-items: center;
                button{
                    font-family: "Noto Sans", sans-serif;
                    font-weight: 700;
                    font-size: 39px;
                    line-height: 136%;
                    text-align: center;
                    color: #fff;
                    padding: 30px 60px;
                    box-shadow: 6px 6px 0 0 rgba(0, 0, 0, 0.13);
                    background: #ff9b26;
                    margin-bottom: 81px;
                    border-radius: 2px;
                    &:hover{
                        background-color: #9700C6;
                    }
                }
                .play-vedio{
                    transform: translate(-200px , -95px);
                }
            }
        }
    }
}
.explore-minecraft{
    background: #fffbdd;
    padding-top: 27px;
    border-radius:166px 166px 0 0;
    padding-left: 44px;
    padding-right: 44px;
    .container{
        .play-now{
            display: flex;
            align-items: center;
            padding: 29px 32px;
            gap: 43px;
            background-color:#3DAE2B;
            border-radius:166px;
            margin-bottom: 110px;
            p{
                font-family: "Micro 5" , sans-serif;
                font-weight: 400;
                font-size: 63px;
                text-transform: uppercase;
                color: #000;
            }
        }
        .explore-text{
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: 64px;
            h2{
                font-size: 64px;
                font-weight: 400;
                line-height: 64px;
                text-align: center;
                max-width: 733px;
            }
            .sword{
                transform: translate(-130px , 45px);
            }
        }
        .cards1{
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 48px;
            .card-mountain{
                background-image: url(../img/mountain.png);
                max-width: 646px;
                min-height: 646px;
                width: 100%;
                padding: 514px 24px 24px;
                background-repeat: no-repeat;
                .card-text{
                    display: flex;
                    align-items: center;
                    gap: 10px;
                    background-color: #fff;
                    border-radius: 166px;
                    padding: 38px 55px;
                    box-shadow: 4px 4px 0 0 rgba(0, 0, 0, 0.4);
                    background: #3dae2b;
                    cursor: pointer;
                    transition: 0.4s ease;
                    p{
                        font-family:"Inter", sans-serif;
                        font-weight: 800;
                        font-size: 23px;
                        text-transform: uppercase;
                        color: #000;
                    }
                }
                .card-text:hover{
                    background: #fffbdd;
                }
            }

            .card-trees{
                background-image: url(../img/purple-trees.png);
                max-width: 646px;
                min-height: 646px;
                width: 100%;
                padding: 514px 24px 24px;
                background-repeat: no-repeat;
                .card-text{
                    display: flex;
                    align-items: center;
                    gap: 10px;
                    background-color: #fff;
                    border-radius: 166px;
                    padding: 40px 140px;
                    box-shadow: 4px 4px 0 0 rgba(0, 0, 0, 0.4);
                    background: #fffbdd;
                    cursor: pointer;
                    transition: 0.4s ease;
                    p{
                        font-family:"Inter", sans-serif;
                        font-weight: 800;
                        font-size: 23px;
                        letter-spacing: 0em;
                        color: #000;
                    }
                }
                .card-text:hover{
                    background: #3dae2b;
                }
            }
        }
        .cards-natures{
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 110px;
            .card-tree{
                background-image: url(../img/trees.png);
                max-width: 646px;
                min-height: 646px;
                width: 100%;
                padding: 514px 24px 24px;
                background-repeat: no-repeat;
                .card-text{
                    display: flex;
                    align-items: center;
                    gap: 10px;
                    background-color: #fff;
                    border-radius: 166px;
                    padding: 40px 160px;
                    box-shadow: 4px 4px 0 0 rgba(0, 0, 0, 0.4);
                    background: #fffbdd;
                    cursor: pointer;
                    transition: 0.4s ease;
                    p{
                        font-family:"Inter", sans-serif;
                        font-weight: 800;
                        font-size: 23px;
                        letter-spacing: 0em;
                        color: #000;
                    }
                }
                .card-text:hover{
                    background: #3dae2b;
                }
            }
            .card-flowers{
                background-image: url(../img/flowers.png);
                max-width: 646px;
                min-height: 646px;
                width: 100%;
                padding: 514px 24px 24px;
                background-repeat: no-repeat;
                .card-text{
                    display: flex;
                    align-items: center;
                    gap: 10px;
                    background-color: #fff;
                    border-radius: 166px;
                    padding: 40px 140px;
                    box-shadow: 4px 4px 0 0 rgba(0, 0, 0, 0.4);
                    background: #fffbdd;
                    cursor: pointer;
                    transition: 0.4s ease;
                    p{
                        font-family:"Inter", sans-serif;
                        font-weight: 800;
                        font-size: 23px;
                        letter-spacing: 0em;
                        color: #000;
                    }
                }
                .card-text:hover{
                    background: #3dae2b;
                }
            }
        }
        .our-latest-bg{
            margin-bottom: 59px;
            .our-latest-text{
                display: flex;
                justify-content: center;
                align-items: center;
                margin-bottom: 81px;
                h4{
                    font-weight: 400;
                    font-size: 64px;
                    text-align: center;
                    color: #000;
                    max-width: 673px;
                }
            }
            .minecraft-bg{
                background-image: url(../img/tricky-trianls-bg.png);
                background-repeat: no-repeat;
                border-radius: 60px;
                min-height: 293px;
                padding-top: 99px;
                padding-bottom: 66px;
                padding-left: 40px;
                background-position: center;
                margin-bottom: 34px;
                p{
                    // max-width: 690px;
                    padding-left: 40px;
                    .update{
                        font-weight: 400;
                        font-size: 64px;
                        color: #b2a7a4;
                    }
                    .update1{
                        font-weight: 400;
                        font-size: 64px;
                        color: #b2a7a4;
                    }
                    .one{
                        color: #ca6443;
                        font-weight: 400;
                        font-size: 64px;
                    }
                    .twenty-one{
                        font-weight: 400;
                        font-size: 64px;
                        color: #4b9f85;
                    }
                    .tricky{
                        font-weight: 400;
                        font-size: 64px;
                        color: #ca6443;
                    }
                    .trails{
                        color: #4b9f85;
                        font-weight: 400;
                        font-size: 64px;
                    }
                }
            }
            .minecraft-bg2{
                background-image: url(../img/trails-bg.png);
                background-repeat: no-repeat;
                border-radius: 60px;
                min-height: 293px;
                padding: 13px 363px 0;
                background-position: center;
                margin-bottom: 34px;
                p{
                    max-width: 890px;
                    text-align: center;
                    color: #b2a7a4;
                    .update{
                        font-weight: 400;
                        font-size: 64px;
                        color: #b2a7a4;
                    }
                    .update1{
                        font-weight: 400;
                        font-size: 64px;
                        color: #b2a7a4;
                    }
                    .one{
                        background: linear-gradient(90deg, #964f71 0%, #b15d65 10%, #cd6b58 30%, #fff69b 51.96%, #b15d65 70%, #cd6b58 90%, #964f71 100%);
                        background-clip: text;
                        -webkit-background-clip: text;
                        -webkit-text-fill-color: transparent;
                        font-weight: 400;
                        font-size: 64px;
                    }
                    .trails{
                        background: linear-gradient(90deg, #964f71 0%, #b15d65 10%, #cd6b58 30%, #fff69b 51.96%, #b15d65 70%, #cd6b58 90%, #964f71 100%);
                        background-clip: text;
                        -webkit-background-clip: text;
                        -webkit-text-fill-color: transparent;
                        font-weight: 400;
                        font-size: 64px;
                    }
                }
            }
            .minecraft-bg3{
                background-image: url(../img/minecraft-bg.png);
                background-repeat: no-repeat;
                border-radius: 60px;
                padding-top: 99px;
                padding-bottom: 66px;
                padding-left: 40px;
                background-position: center;
                margin-bottom: 34px;
                margin-bottom: 48px;
                p{
                    font-weight: 400;
                    font-size: 64px;
                    padding-left: 40px;
                    .update{
                        color: #b2a7a4;
                    }
                    .update1{
                        color: #b2a7a4;
                    }
                    .one{
                        color: #048d94;
                    }
                    .one1{
                        color: #5f9e56;
                    }
                    .nine{
                        color: #057b84;
                    }
                    .the{
                        color: #057b84;
                    }
                    .wild{
                        color: #62a756;
                    }
                }
            }
            .minecraft-bg4{
                background-image: url(../img/nether-bg.png);
                background-repeat: no-repeat;
                border-radius: 60px;
                min-height: 293px;
                padding: 157px 0 40px;
                background-position: center;
                p{
                    max-width: 890px;
                    text-align: center;
                    color: #b2a7a4;
                    margin: 0 auto;
                    .update{
                        color: #b2a7a4;
                        font-weight: 400;
                        font-size: 64px;
                    }
                    .update1{
                        color: #b2a7a4;
                        font-weight: 400;
                        font-size: 64px;
                    }
                    .one{
                        color: #d83fe1;
                        font-weight: 400;
                        font-size: 64px;
                    }
                    .sixteen{
                        color: #20c3c2;
                        font-weight: 400;
                        font-size: 64px;
                    }
                    .nether{
                        color: #da46d9;
                        font-weight: 400;
                        font-size: 64px;
                    }
                }
            }
        }
    }
}
footer{
    border-radius: 55px 55px 0 0;
    background: #3dae2b;
    box-shadow: 10px 10px 0 0 rgba(0, 0, 0, 0.25);
    .container{
        .footer-bg{
            background-image:url(../img/natura-bg.png);
            background-repeat: no-repeat;
            background-position: center;
            height: 481px;
            padding-left: 379px;
            padding-top: 169px;
            margin-bottom: 88px;
            h5{
                font-weight: 400;
                font-size: 96px;
                text-align: center;
                color: #abaaa2;
                max-width: 563px;
            }
        }
        .footer-content{
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding-bottom: 46px;
            nav{
                ul{
                    display: flex;
                    align-items: center;
                    gap: 58px;
                    li{
                        font-family: "Noto Sans", sans-serif;
                        font-weight: 400;
                        font-size: 19px;
                        text-align: center;
                        color: #fff;
                        transition: 0.4s;
                        &:hover{
                            text-decoration: underline;
                        }
                    }
                }
            }
            button{
                font-family: "Noto Sans", sans-serif;
                font-weight: 700;
                font-size: 23px;
                line-height: 136%;
                text-align: center;
                color: #fff;
                padding: 14px;
                box-shadow: 3px 4px 0 0 rgba(0, 0, 0, 0.25);
                background: #ff9b26;
                border: 2.00px solid #061903;
                &:hover{
                    background-color: #9700C6;
                }
            }
        }
    }
}